* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v24_211 {
  width: 100%;
  height: 975px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v24_272 {
  width: 400px;
  height: 16px;
  background: url("../images/v24_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 716px;
  overflow: hidden;
}
.v34_37 {
  width: 376px;
  color: rgba(15,71,173,1);
  position: absolute;
  top: 575px;
  left: 568px;
  font-family: Nimbus Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_38 {
  width: 376px;
  color: rgba(15,71,173,1);
  position: absolute;
  top: 341px;
  left: 946px;
  font-family: Nimbus Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
