.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: var(--blanco, #ffffff);
  height: 975px;
  position: relative;
  overflow: hidden;
}
.men {
  padding: 56px 8px 8px 160px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 176px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-3 {
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button {
  color: var(--primario-azul, #0f47ad);
  text-align: left;
  font-family: var(
    --nimbus-regular-font-family,
    "NimbusSans-Regular",
    sans-serif
  );
  font-size: var(--nimbus-regular-font-size, 20px);
  font-weight: var(--nimbus-regular-font-weight, 400);
  position: relative;
}
.frame-4 {
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-5 {
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-6 {
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.linea {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 400px;
  height: 16px;
  position: absolute;
  left: 1206px;
  top: 232px;
}
.web-de-informaci-n-sobre-el-proceso-seguido-en-la-creaci-n-de-la-marca-ciudad-de-cija-descubre-las-fases-por-las-que-ha-pasado-el-proyecto-encuestas-realizadas-para-qu-sirve-esta-marca-y-el-por-qu-de-las-decisiones-tomadas {
  color: var(--primario-azul, #0f47ad);
  text-align: left;
  font-family: var(
    --nimbus-regular-font-family,
    "NimbusSans-Regular",
    sans-serif
  );
  font-size: var(--nimbus-regular-font-size, 20px);
  font-weight: var(--nimbus-regular-font-weight, 400);
  position: absolute;
  left: 568px;
  top: 575px;
  width: 376px;
  height: 318px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.dise-ada-con-el-objetivo-demostrar-con-total-transparencia-cada-paso-dado-en-el-proceso-y-acercar-esta-iniciativa-al-p-blico-queremos-que-todos-los-ciudadanos-se-sientan-parte-de-este-relato-compartido-y-conozcan-a-fondo-nuestra-ciudad {
  color: var(--primario-azul, #0f47ad);
  text-align: left;
  font-family: var(
    --nimbus-regular-font-family,
    "NimbusSans-Regular",
    sans-serif
  );
  font-size: var(--nimbus-regular-font-size, 20px);
  font-weight: var(--nimbus-regular-font-weight, 400);
  position: absolute;
  left: 976px;
  top: 341px;
  width: 376px;
  height: 554px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.component-1 {
  width: 376px;
  height: 547px;
  position: absolute;
  left: 1384px;
  top: 341px;
}
.carpeta {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.frame-42 {
  background: var(--blanco, #ffffff);
  padding: 48px 160px 48px 160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1920px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.group {
  flex-shrink: 0;
  width: 158.4px;
  height: 80px;
  position: relative;
  overflow: visible;
}
.frame-2 {
  padding: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.proyecto-realizado-por-marcos-mart-n-espa-a-trabajo-fin-de-grado-dise-o-gr-fico {
  color: var(--primario-azul, #0f47ad);
  text-align: right;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 376px;
}
.proyecto-realizado-por-marcos-mart-n-espa-a-trabajo-fin-de-grado-dise-o-gr-fico-span {
  font-family: "NimbusSans-Regular", sans-serif;
}
.proyecto-realizado-por-marcos-mart-n-espa-a-trabajo-fin-de-grado-dise-o-gr-fico-span2 {
  font-family: "NimbusSans-Bold", sans-serif;
  font-weight: 700;
}
